@*@{Layout = null; }*@


<div class="container-fluid">
    <div class="card mb-2">
        <div class="card-header bg-dark">
            <h5 class="card-title text-light" style="text-align:center;">Pedro von der Heide</h5>
        </div>
        <div class="card-body bg-dark">
            <div class="row">
                <div class="perfil col-12">
                    <img src="~/imagens/persona1.jpg" alt="Foto" class="rounded-circle" width="200px" height="200px">
                    <br></br>
                    <p style="color:white;">Analista Desenvolvedor</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-body">
            <h5 class="card-title text-dark">Sobre</h5>
            <p class="card-text text-dark"> Et eirmod amet est dolore lorem invidunt praesent sed sit aliquip erat amet consetetur enim dolor erat in ut aliquyam eirmod sit ea placerat accusam dolore sed imperdiet aliquyam stet doming elitr elit magna eirmod lorem ea takimata amet ea zzril diam vel ad gubergren consectetuer dolor kasd consetetur sit lobortis ut sit et ea nulla eos nibh commodo lorem hendrerit sea molestie et lorem sit stet labore est voluptua et assum dolor justo lorem facilisi ut qui vel ut dolores praesent ipsum labore diam et ipsum duis amet euismod enim diam in amet dolor et consetetur consectetuer eos dolor takimata dolores takimata duo nihil justo clita dolore facilisi suscipit gubergren et consetetur magna sed accusam voluptua nisl at aliquyam placerat sit ut amet dolore sea sit at consetetur at vel labore clita vel dolor ea dolore qui liber et dolore accusam et sea illum sadipscing et tation esse esse justo feugait nam elitr invidunt nam magna iriure tempor nonumy et accusam sea praesent kasd voluptua tation nulla ex ipsum sed lorem ipsum lorem praesent dignissim aliquyam takimata veniam eirmod voluptua est sanctus liber sanctus nonumy sit justo amet in diam magna feugiat et lorem kasd adipiscing labore amet takimata</p>
        </div>
    </div>
    @*@{
        int progressvalue = 26;
    }*@
    <div class="row mb-2">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Habilidades <i class="fas fa-tasks"></i></h5>
                    <div class="row mb-1">
                        <div class="col-12">
                            <span>
                                HTML
                            </span>
                            <div class="progress">
                                <div id="htmlbar" class="progress-bar" role="progressbar" aria-valuenow="95" style="width:95%;" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-12">
                            <span>
                                CSS
                            </span>
                            <div class="progress">
                                <div id="cssbar" class="progress-bar" role="progressbar" aria-valuenow="85" style="width:85%;" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-12">
                            <span>
                                JAVASCRIPT
                            </span>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="100" style="width:100%;" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-12">
                            <span>
                                C#
                            </span>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="80" style="width:80%;" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-12">
                            <span>
                                PHP
                            </span>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="30" style="width:30%;" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card" style="height:299px">
                <div class="card-body">
                    <h5 class="card-title">Certificações <i class="fas fa-certificate"></i></h5>
                    <li class="card-text">Inglês - Open English</li>
                    <li class="card-text">Workshop Front End - Alura</li>
                    <li class="card-text">Workshop Back End - Alura</li>
                    <li class="card-text">Workshop GitHub - Alura</li>
                    <li class="card-text">Curso de liderança - Sebrae</li>
                    <br />
                    @*<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>*@
                    <a href="#" class="btn btn-primary">Visitar certificados</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-2">
        <h5 class="card-header">Experiências <i class="fas fa-briefcase"></i></h5>
        <div class="card-body">
            <h5>Empresa X</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <h5>Empresa Y</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <h5>Empresa Z</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card" style="height:366px;">
                <h5 class="card-header">Formação Acadêmica <i class="fas fa-university"></i></h5>
                <div class="card-body">
                    <p class="card-text">
                        <h5 style="margin-top: -18px;">PUC MINAS - Pós Graduação em Ciência de Dados</h5>
                        With supporting text below as a natural lead-in to additional content.
                        With supporting text below as a natural lead-in to additional content.
                        <br>
                        <br />
                        <h5>PUC MINAS - Análise e Desenvolvimento de Sistemas</h5>
                        With supporting text below as a natural lead-in to additional content.
                        With supporting text below as a natural lead-in to additional content.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="card" style="width:540px;">
                    <h5 class="card-header">Línguas <i class="fas fa-globe-americas"></i></h5>
                    <div class="card-body">
                        <li>Inglês Intermediário.</li>
                        <li>Espanhol Intermediário.</li>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card" style="width:540px;">
                    <h5 class="card-header">Redes Sociais e contato <i class="far fa-address-card"></i></h5>
                    <div class="card-body">
                        <p class="card-text">Visite minhas redes sociais ou entre em contato</p>
                         <li>
                             (31) 991223534 / exemplodemail@gmail.com
                         </li>
                        <br>
                        <a href="https//www.instagram.com.br" target="_blank"> <i class="fab fa-instagram fa-3x ml-1"></i> </a>
                        <a href="https://www.linkedin.com.br" target="_blank"  <i class="fab fa-linkedin fa-3x ml-3"></i>  </a>
                        <a href="https://www.github.com" target="_blank"       <i class="fab fa-github fa-3x ml-3"></i>    </a>
</div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<script>
    function progressbar(i,id) {
        $("#"+id).css("width",i+"%")
    }
</script>*@
